.vscode/*
icount.cpp
mem_trace.cpp
mkdir_test.cpp
obj-intel64/*
trace/*
pin.log
mmap_test*
mkdir_test*
loop*
605*
BFS
gups_*
mcf*
r_Mat*
run_BFS*
pread_test.cpp
utils/*
trace.tar.gz
!utils/plot_static_dist.*
!utils/plot_over_time*
!utils/plot_range*
plot_over_time_dist_BFS*
plot_over_time_dist_MCF*
plot_over_time_dist_PR*
!utils/partition_trace.sh
!utils/plot_learned_dram.py
PageRank
