.vscode/*
icount.cpp
mem_trace.cpp
mkdir_test.cpp
obj-intel64/*
trace/*
pin.log
mmap_test*
mkdir_test*
loop*
605*
BFS
gups_*
mcf*
r_Mat*
run_BFS*
pread_test.cpp
utils/*
trace.tar.gz
!utils/plot_static_dist.*
!utils/plot_over_time*
!utils/plot_range*
!utils/plot_pa_difference.*
!utils/plot_reverse_cdf.*
!utils/lr.py
!utils/plot_page_diff_bin.py
plot_over_time_dist_BFS*
plot_over_time_dist_MCF*
plot_over_time_dist_PR*
!utils/partition_trace.sh
!utils/plot_learned_dram.py
PageRank
res/*
!utils/partition_trace.sh
!utils/plot_hot_cdf.py
!utils/plot_all_CDF.sh
!utils/plot_all_PN_DIFF.sh
!utils/plot_all_figure.sh
!utils/constructive_linear.py
!utils/hot_page_life_time.py
!utils/ideal_hot_distribution.cpp
!utils/ideal_hot_dist.sh
!utils/Makefile
!utils/plot_global_cdf.py
!utils/plot_all_Access_Freq.sh
!utils/top_hot_survival_ratio.py
!utils/ideal_global_distribution.cpp
tmp/
test_trace/
