[submodule "valgrind"]
	path = valgrind
	url = https://github.com/riceblast/valgrind
[submodule "index_algorithm/PGM_Index"]
	path = index_algorithm/PGM_Index
	url = https://github.com/JackYuCN/PGM-index
